{% extends 'main/base.html' %}
{% load static %}

{% block title %}Statistiques - YSEM{% endblock %}

{% block page_title %}Statistiques{% endblock %}

{% block content %}
{% include 'main/statistiques/_header_filters.html' %}
{% include 'main/statistiques/_kpis.html' %}
{% include 'main/statistiques/_charts_tables.html' %}

{{ level_stats|json_script:"level-stats-data" }}
{{ program_stats|json_script:"program-stats-data" }}
{{ school_stats|json_script:"school-stats-data" }}
{{ gender_stats|json_script:"gender-stats-data" }}
{{ document_stats|json_script:"document-stats-data" }}
{{ document_type_stats|json_script:"document-type-stats-data" }}
{% endblock %}

{% block extra_css %}
{% include 'main/statistiques/_extra_css.html' %}
{% endblock %}

{% block extra_js %}
{% include 'main/statistiques/_extra_js.html' %}
{% endblock %}